@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("/node_modules/swiper/swiper-bundle.css");

body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

/* Glopals */
.img-fluid {
    width: 100% !important;
    height: 100%;
}

img {
    object-fit: contain !important;
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

/* Glopals */
/* Header */
.header {
    background-color: black !important;
    color: white !important;
}

.link {
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 15px;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    border-radius: 10px;
}

.link:hover::before {
    background-color: red;
}

.link.active::before {
    background-color: red;
}

.search-results {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translate(10px, 100%);
    background-color: white;
    border-radius: 8px;
    z-index: 2125;
    max-height: 300px;
    overflow: auto;
}



.result {
    padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}


.search-results img {
    object-fit: cover !important;
    width: 100% !important;
}

.result:hover {
    background-color: #b30000;
    color: white !important;
}

/* Header */

/* Aside */
.category {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

/* Aside */

/* Movie  */

.movie {
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}

.movie .image img {
    border-radius: 10px;
    transition: .4s;
}

.movie .image:hover img {
    transform: scale(1.07) rotate(1deg);
}

.movie .body h5 {
    font-size: 15px;
    margin-bottom: 10px;
}

.movie .hidden {
    transform: translateY(200%);
    transition: .5s;
}

.movie .hidden li {
    list-style: none;
    background-color: orange;
    padding: 5px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
}

.movie:hover .hidden {
    transform: translateY(0);
}

.movie .rate {
    position: absolute;
    right: -8px;
    top: -10px;
}

.movie .rate span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
}

.pagination li {
    --bs-pagination-bg: black !important;
    cursor: pointer;
}

.pagination li.active {
    --bs-pagination-active-bg: #f8f9fa !important;
    --bs-pagination-active-color: red !important;
    --bs-pagination-active-border-color: white !important;
}

.pagination li.active a {
    color: red !important;
}

.pagination li a {
    color: white !important;
}

.pagination li:hover a {
    color: red !important;
}

.movieCont {
    min-height: 400px;
}

.img-details {
    border: 2px solid white;
}

.movie-desc {
    max-height: 150px;
    overflow-y: auto;
}

.movie-img {
    width: 300px;
}

.movie-details {
    width: 500px
}

.actor {
    cursor: pointer;
}

.actor .name {
    font-size: 14px;
}

.actor .image {
    width: 50px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.seasons div img {
    cursor: pointer;
}

.search-bar {
    padding: 0 !important;
}

.search-bar input {
    color: white !important;
    background-color: transparent !important;
}

/* Movie */