@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");


body {
    background-color: black;
    color: white;
}

/* Header */
.header {
    background-color: black !important;
    color: white !important;
}

.link {
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 15px;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    border-radius: 10px;
}

.link:hover::before {
    background-color: red;
}

.link.active::before {
    background-color: red;
}

/* Header */

/* Aside */
.category {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

/* Aside */

/* Movie  */

.movie {
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.movie .image img {
    transition: .4s;
}

.movie .image:hover img {
    transform: scale(1.1) rotate(1deg);
}

.movie .body h5 {
    font-size: 15px;
    margin-bottom: 10px;
}

.movie .hidden {
    transform: translateY(200%);
    transition: .5s;
}

.movie .hidden li {
    list-style: none;
    background-color: orange;
    padding: 5px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
}

.movie:hover .hidden {
    transform: translateY(0);
}

/* Movie */